In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
crime_rate = pd.read_csv('london_crime_by_lsoa.csv', encoding = 'utf-8', sep = ",")

In [6]:
crime_rate = crime_rate[crime_rate.year != (2008 or 2009 or 2010)]  #delete data from 2008 to 2010

In [7]:


crime_rate = crime_rate[crime_rate.value != 0] #delete rows where 'value' is 0

In [11]:
crime_rate.shape[0]

3027857

In [17]:
crime_rate.major_category.value_counts().keys() #columns in new data frame

Index(['Theft and Handling', 'Violence Against the Person', 'Criminal Damage',
       'Burglary', 'Drugs', 'Robbery', 'Other Notifiable Offences'],
      dtype='object')

In [15]:
len(crime_rate.borough.value_counts().keys())

33

In [24]:
index = range(len(crime_rate.borough.value_counts().keys())) #create empty data frame

columns = ['borough','Theft and Handling', 'Violence Against the Person', 'Criminal Damage', 'Burglary', 'Drugs', 'Robbery', 'Other Notifiable Offences', 'Total', 'Proportion']


df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0)

In [39]:
df.borough=crime_rate.borough.value_counts().keys().sort_values().values #fill borough names

In [44]:
df.loc[df.borough=='Barking and Dagenham', 'Theft and Handling'] = crime_rate[(crime_rate.borough == 'Barking and Dagenham')&(crime_rate.major_category == 'Theft and Handling')]['value'].sum(
)

In [52]:
crime_rate[(crime_rate.borough == 'Barking and Dagenham')&(crime_rate.major_category == 'Theft and Handling')]['value'].sum(
)

45645

In [69]:
# sums for each crime category and total 

for i in range(df.shape[0]):
    name = df.loc[i].borough
    for j in range(len(df.columns)-2):
        cat = df.columns[j+1]
        df.loc[df.borough==name, cat] = crime_rate[(crime_rate.borough == name)&(crime_rate.major_category == cat)]['value'].sum()
        if cat == 'Total':
            df.loc[df.borough==name, cat] = crime_rate[crime_rate.borough == name]['value'].sum()

In [80]:
# proportions of totals
sum_of_totals = df.Total.sum()
for i in range(df.shape[0]):
    name = df.loc[i].borough
    total = df.loc[df.borough==name, 'Total']
    df.loc[df.borough==name, 'Proportion'] = round(total/sum_of_totals*100, ndigits = 2)

In [81]:
df

,borough,Theft and Handling,Violence Against the Person,Criminal Damage,Burglary,Drugs,Robbery,Other Notifiable Offences,Total,Proportion
0,Barking and Dagenham,45645,38096,15954,16339,7721,5470,2566,131791,2.31
1,Barnet,77413,41729,18106,33231,8532,6580,2656,188247,3.30
2,Bexley,34835,26766,14351,12689,6350,1989,1851,98831,1.73
3,Brent,65317,57488,18065,25657,23165,10918,3437,204047,3.57
4,Bromley,60933,41528,19809,23688,7853,4106,2417,160334,2.81
5,Camden,126202,47113,15853,24364,17834,8373,3398,243137,4.26
6,City of London,561,114,16,15,33,24,17,780,0.01
7,Croydon,81833,61030,26707,29639,16364,11251,3954,230778,4.04
8,Ealing,84272,61337,22248,26994,15508,8260,3996,222615,3.90
9,Enfield,62917,41269,19108,26394,11126,8040,3046,171900,3.01
10,Greenwich,57761,47400,19402,17958,9224,4532,3281,159558,2.79
11,Hackney,83549,51126,15128,19289,14947,8081,2995,195115,3.42
12,Hammersmith and Fulham,77581,38330,12527,14572,13424,4615,3096,164145,2.88
13,Haringey,74606,45839,18850,24534,12095,8937,2687,187548,3.29
14,Harrow,35936,27248,10946,17340,6112,3692,1800,103074,1.81
15,Havering,46974,31192,14367,18899,7155,2792,2173,123552,2.16
16,Hillingdon,71499,49316,20818,23189,9583,4914,6043,185362,3.25
17,Hounslow,63628,46369,18404,18615,11785,4182,3585,166568,2.92
18,Islington,96598,47742,15819,19438,13413,7714,3289,204013,3.57
19,Kensington and Chelsea,85218,26524,8426,13197,11789,4214,1950,151318,2.65
20,Kingston upon Thames,33612,19300,8952,9077,5071,1453,1180,78645,1.38
21,Lambeth,104030,65327,22547,26930,21235,16416,3976,260461,4.56
22,Lewisham,62120,55713,21100,22212,14350,9204,3384,188083,3.29
23,Merton,39548,24752,12190,14674,5734,3523,1358,101779,1.78
24,Newham,94851,59413,20487,22323,15863,15295,4040,232272,4.07
25,Redbridge,63671,37613,15010,23536,13672,6762,2425,162689,2.85
26,Richmond upon Thames,36299,18444,10082,14200,3982,1372,1286,85665,1.50
27,Southwark,97210,60363,21133,24795,23203,14502,4133,245339,4.30
28,Sutton,34249,22859,12059,11559,4095,1991,1232,88044,1.54
29,Tower Hamlets,78773,54570,18724,19418,20639,9059,3852,205035,3.59
30,Waltham Forest,69687,46531,17299,22391,11936,9192,2763,179799,3.15
31,Wandsworth,82490,41045,16773,22712,8212,7368,2811,181411,3.18
32,Westminster,248351,64751,17806,26333,29956,14425,5560,407182,7.13

In [84]:
df.to_csv('crime_by_borough.csv', sep=',', encoding = 'utf-8-sig')